/* Global Styles */
:root {
  --text: #0b1112;
  --background: #f2f7f8;
  --primary: #55a5b4;
  --secondary: #9fd2dd;
  --accent: #6dc4d5;
}

:root[data-theme="dark"] {
  --text: #ecf2f3;
  --background: #070c0d;
  --primary: #4b9caa;
  --secondary: #21535e;
  --accent: #2a8192;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent);
}
